section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}


#map-wrapper {
    background-image: url("assets/map.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#map-gdpr-overlay * {
  position: unset;
  top: unset;
  left: unset;
  width: auto;
  height: auto;
} 
#map-gdpr-overlay {
  width: 100%;
  background: rgba(255,255,255, 0.5);
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: all;
}

#map-gdpr-overlay .inner {
  padding: 10px !important;
}

